<div class="show-text">
  <p><b>Title: </b><%= @book.title %></p>
  <p><b>Body: </b><%= @book.body %></p>
</div>

<div class= btn>
  <p><%= link_to "Edit", edit_book_path(@book.id) %> | <%= link_to "Back", books_path %></p>
</div>