/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
 }

 a {
  color: black;
  padding: 3px 0 1px 0;
 }

 p {
  font-size: 13px;
 }

 a:hover {
  color: white;
  background-color: black;
 }

 main {
  margin: 30px;
 }

 .copy {
  margin: 10px 30px;
 }

 .copy-text {
  line-height: 60px;
 }

 .index-content {
  font-size: 13px;
  line-height: 27px;
 }

 table td {
  padding-left: 10px;
 }

 .new-title {
  margin: 20px 0 10px 0;
 }

 .new-content {
  display: flex;
  flex-direction: column;
 }

 label {
  display: block;
  font-size: 12px;
 }

 .title-label {
  width: 28px;
 }

 .body-label {
  width: 33px;
 }

 input {
  display: block;
  margin-bottom: 10px;
}

 textarea {
  display: block;
  margin: 0 0 10px 0;
 }

 .show-text {
  line-height: 50px;
  margin: 0 0 15px 40px;
 }

 .flash-message {
  margin-left: 40px;
  font-size: 13px;
  line-height: 50px;
  color: green;
 }

 .erroe-box {
  height: 130px;
  width: 450px;
  margin-bottom: 20px;
  background-color: #eeeeee;
  border: 2px solid red;
 }

 .erroe-lead {
  font-size: 12px;
  background-color: #bb0000;
  color: white;
  padding: 5px 20px;
 }

 .erroe-box ul {
  margin: 30px 80px;
  font-size: 12px;
  font-weight: normal;
 }

 .field_with_errors {
  display: contents;
  label {
    background-color: red;
    font-weight: normal;
    padding: 2px 1px;
  }
  input {
    border: 2px solid red;
  }

  textarea {
    border: 2px solid red;
  }
 }